process {

    executor = 'local'   // change to 'slurm' later

    cpus = 2
    memory = '8 GB'
    time = '12h'

}

profiles {
    docker {
        docker.enabled = true
        process.executor = 'local'
        process {
            withName: EXPORT_GENOTYPE_WITH_PLINK {
                containerOptions = '--platform linux/amd64'
            }
        }
    }
}

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

params {

    bim_file = null
    plink_container = 'promopop-plink2:latest'

    genelist = "data/small_IBD_GWAS_genelist.txt"

    promoter_db =
        "data/small_promoterAI_tss500.tsv"

    plink_prefix =
        "data/small_big_daly_v3"

    promoter_regions =
        "data/small_promoter_regions.bed"

    european_maf_file =
        "data/final_MAF_counts.txt"

    maf_plot_title =
        "MAF distribution for IBD_AA vs. EUR"

}